/* variables.css */

:root {
    --white: #ccd6f6; 
    --green: #008000;
    --greenHover: #008000bf;
    --grayBG: #1D1D1D;
    --hoverColor: #555;
    --bgColor: #191919;
    --loginBG: #2f2f2f;
    --font-sarabun: "Sarabun", sans-serif;
  }
  